<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing PetStore">
    <test name="ChromeTest">
   
         <classes>
             <class name="Tests.CartTest"/>
             <class name="Tests.HomePageTest"/>
             <class name="Tests.PetStoreMenuPageTest"/>
             <class name="Tests.RegistrationPageTest"/>
             <class name="Tests.SignInTest"/>
           
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->